<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crylabs | Homepage</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <h1>CRYLABS INDUSTRIES</h1>
    </div>
    <div class="subhead">Flevoland, NL - December 2021 - One Page</div>
</div>
<div class="content">
    <div class="columns">
        <div class="column">
            <div class="head">
                <span class="headline hl1">Cryptocurrency creates new monetary needs in a globalized world</span>
                <p><span class="headline hl2">by KENNETH RIENSTRA</span></p>
            </div>
            Text 1
            <p>text 2</p>
        </div>
        <div class="column">
            <div class="head">
                <span class="headline hl1">Cryptocurrency creates new monetary needs in a globalized world</span>
                <p><span class="headline hl2">by KENNETH RIENSTRA</span></p>
            </div>
            Text 1
            <p>text 2</p>
        </div>
        <div class="column">
            <div class="head">
                <span class="headline hl1">Cryptocurrency creates new monetary needs in a globalized world</span>
                <p><span class="headline hl2">by KENNETH RIENSTRA</span></p>
            </div>
            Text 1
            <p>text 2</p>
        </div>
        <div class="column">
            <div class="head">
                <span class="headline hl1">Cryptocurrency creates new monetary needs in a globalized world</span>
                <p><span class="headline hl2">by KENNETH RIENSTRA</span></p>
            </div>
            Text 1
            <p>text 2</p>
        </div>
        <div class="column">
            <div class="head">
                <span class="headline hl1">Cryptocurrency creates new monetary needs in a globalized world</span>
                <p><span class="headline hl2">by KENNETH RIENSTRA</span></p>
            </div>
            Text 1
            <p>text 2</p>
        </div>
    </div>
</div>
</body>
</html>